.shake {
  animation: shake .25s linear infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}
